<div class="row">   
    <div class="col-sm-4">
         <img src="https://ng-bootstrap.github.io/img/logo.svg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
    </div>
    <div class="col-sm-8">
        <h2><i>"Family and Clean"</i></h2>
        <p>Because Family is the most important thing in your life, and the Clean in your family is a must!</p>

        <h2>Family Laundry</h2>
        <p>Family Laudry comes for your needs in clothe cleaning.
            We are here to help so you can still spend more time for your family while the cleanings are still achieved as well as you have no time for washing your clothes.
        </p>
        <p>
            You are young, executive, mobile, you need more time to spend for your carreer, relationship, social, that's why we are there to take care of your washing needs.
        </p>
        <p>
            You lived in apartment, boarding house, uncertain wheather, no proper place to wash, that's where we are there for you.
        </p>
        
    </div>    
</div>
